default: &default 
  adapter: postgresql 
  username: amed
  password: amed 
  host: localhost 

development: 
  <<: *default 
  database: sesa_development 

test:
  <<: *default 
  database: sesa_test 

production: 
  <<: *default 
  database: sesa_production